@media screen and (min-width: 576px) {
    html {
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 992px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 20px;
    }
}

@keyframes head-anim {
    to {
        background-position: 400% 0;
    }
}

#app{
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }